.button {
    background-color: rgb(43, 153, 91);
    border: 1px solid rgb(33, 126, 74);
}

.button:hover {
    background: lightgreen;
    color: #000;
}

.courseTitle {
    font-size: 2.5rem;
    padding: 1em 0;
}

.currentCurrency {
    display: flex;
    font-size: 3rem;
    justify-content: center;
}
.wrapper {
    margin-top: 150px;
}